{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Produits catalogue
{% endblock %}

{% block main %}
	<div class="content-panel">

		<form method="get" class="row g-2 mb-3 align-items-end">
			<div class="col-md-4">
				<input type="text" name="q" value="{{ filters.text ?? '' }}" class="form-control" placeholder="Rechercher par texte…">
			</div>

			<div class="col-md-4">
				<select name="categoryId" class="form-select">
					<option value="">Toutes les catégories</option>
					{% for cat in categories %}
						{% set cid = cat.id ?? cat._id %}
						<option value="{{ cid }}" {{ filters.categoryId == cid ? 'selected' }}>
							{{ cat.name ?? cat.label }}
						</option>
					{% endfor %}
				</select>
			</div>

			<div class="col-md-4 text-end">
				<button class="btn btn-primary">
					<i class="fa fa-search me-1"></i>Filtrer
				</button>

				<button type="button" id="toggleCards" class="btn btn-outline-dark" data-edit-tpl="{{ path('admin_catalog_products_edit', {id: '___ID___'}) }}">
					<i class="fa fa-th-large me-1"></i>Vue cartes
				</button>

				<a href="{{ path('admin_catalog_products_new') }}" class="btn btn-success">
					<i class="fa fa-plus me-1"></i>Nouveau produit
				</a>
			</div>
		</form>

		<div id="viewTable" class="table-responsive">
			{% include 'admin/catalog/products/_table.html.twig' %}
		</div>

		<div id="viewCards" class="d-none" data-url="{{ path('admin_catalog_products_cards') }}">
			<div class="text-center text-muted py-5">Chargement…</div>
		</div>

	</div>

	{% include 'admin/catalog/products/_modal_details.html.twig' %}
{% endblock %}

{% block head_stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('assets/css/cards.css') }}">
{% endblock %}

{% block body_javascript %}
	{{ parent() }}
	<script src="{{ asset('assets/js/cards.js') }}"></script>
{% endblock %}
