{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content %}
  <div class="container px-0">
    <h2 class="mb-3">Transférer un stock</h2>

    {% for label, messages in app.flashes %}
      {% for msg in messages %}
        <div class="alert alert-{{ label }} mb-3">{{ msg }}</div>
      {% endfor %}
    {% endfor %}

    <div class="card shadow-sm">
      <div class="card-body">
        {{ form_start(form) }}
          <div class="row g-3">
            <div class="col-md-6">{{ form_row(form.article) }}</div>
            <div class="col-md-6">{{ form_row(form.conditionnement) }}</div>
            <div class="col-md-6">{{ form_row(form.source) }}</div>
            <div class="col-md-6">{{ form_row(form.destination) }}</div>
            <div class="col-md-6">{{ form_row(form.quantity) }}</div>
            <div class="col-12">{{ form_row(form.comment) }}</div>
          </div>
          <div class="mt-3">
            <button class="btn btn-primary" type="submit">Transférer</button>
          </div>
        {{ form_end(form) }}
      </div>
    </div>
  </div>
{% endblock %}
