{% extends 'base.html.twig' %}

{% block title %}DocumentLigne index{% endblock %}

{% block body %}
    <h1>DocumentLigne index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>ProductIdMongo</th>
                <th>ProductLabel</th>
                <th>Unit</th>
                <th>UnitPriceHt</th>
                <th>Quantity</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for document_ligne in document_lignes %}
            <tr>
                <td>{{ document_ligne.id }}</td>
                <td>{{ document_ligne.productIdMongo }}</td>
                <td>{{ document_ligne.productLabel }}</td>
                <td>{{ document_ligne.unit }}</td>
                <td>{{ document_ligne.unitPriceHt }}</td>
                <td>{{ document_ligne.quantity }}</td>
                <td>
                    <a href="{{ path('app_document_ligne_show', {'id': document_ligne.id}) }}">show</a>
                    <a href="{{ path('app_document_ligne_edit', {'id': document_ligne.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_document_ligne_new') }}">Create new</a>
{% endblock %}
